.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-lighter;
  font-size: 1rem;
  &.size-lg {
    width: 80px;
    height: 80px;
    font-size: 2rem;
  }
  &.size-sm {
    width: 25px;
    height: 25px;
    font-size: .75rem;
  }
}