.section {
  padding: 3rem 0;
  position: relative;
  &.section-top-home {
    margin-top: -3rem;
  }
}

.description-services {
  display: flex;
  align-items: center;
  flex-direction: row;
  div {
    &:first-child {
      flex: 1;
      padding-right: .75rem;
    }
    &:last-child {
      flex-basis: 300px;
    }
  }
}

@media(max-width: 991px) {
  .description-services {
    div {
      &:last-child {
        flex-basis: 200px;
      }
    }
  }
}

@media(max-width: 767px) {
  .description-services {
    flex-direction: column;
    div {
      &:first-child {
        margin-bottom: 3rem;
      }
      &:last-child {
        flex-basis: auto;
      }
    }
  }
}

.section-page-header {
  position: relative;
  padding-top: 150.86px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/bg-purple.jpg);
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.35);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    top: 0;
    background-image: url(../images/overlay.png);
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  .fill-sph {
    position: relative;
    height: 360px;
    display: flex;
    align-items: center;
  }
}

@media(min-width: 992px) {
  .section-page-header {
    padding-top: 130.56px;
  }
}

@media(min-width: 1400px) {
  .section-page-header {
    padding-top: 149.27px;
  }
}

@media(max-width: 1200px) {
  .section {
    &.section-top-home {
      margin-top: 0;
    }
  }
}
